$badge-neutral-background: #f1f1f7;
$badge-positive-background: #b1ffc7;
$badge-negative-background: #ffbfb1;

$color-on-neutral: #1b2134;
$color-content-inverse: #ffffff;
$color-inverse: #1b2134;
$color-inverse-hover: #343a4e;
$color-inverse-active: #585d71;
$color-outline-default: #d3d3dc;
$color-outline-hover: #c4c5cf;
$color-surface-hover: #f6f6fa;
$color-surface-active: #f1f1f7;
$color-focus-ring: #000000;
