$spacing-0: 0;
$spacing-4xs: 0.125rem;
$spacing-3xs: 0.25rem;
$spacing-2xs: 0.5rem;
$spacing-xs: 0.75rem;
$spacing-s: 1rem;
$spacing-m: 1.25rem;
$spacing-l: 1.5rem;
$spacing-xl: 2rem;
$spacing-2xl: 3rem;
